@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 98%;
    /* Light Blue */
    --foreground: 220 13% 18%;
    /* Dark Blue */

    --muted: 210 36% 92%;
    /* Light Blue Muted */
    --muted-foreground: 220 13% 44%;
    /* Dark Blue Muted */

    --popover: 210 100% 98%;
    --popover-foreground: 220 13% 18%;

    --card: 210 100% 98%;
    --card-foreground: 220 13% 18%;

    --border: 220 24% 87%;
    /* Light Grey Border */
    --input: 220 24% 87%;

    --primary: 48 100% 50%;
    /* Yellow */
    --primary-foreground: 220 13% 18%;

    --secondary: 348 100% 61%;
    /* Light Red */
    --secondary-foreground: 210 100% 98%;

    --accent: 138 76% 50%;
    /* Green */
    --accent-foreground: 210 100% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 100% 98%;

    --ring: 220 13% 18%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 13% 18%;
    --foreground: 210 100% 98%;

    --muted: 220 13% 24%;
    --muted-foreground: 210 36% 92%;

    --popover: 220 13% 18%;
    --popover-foreground: 210 100% 98%;

    --card: 220 13% 18%;
    --card-foreground: 210 100% 98%;

    --border: 220 13% 24%;
    --input: 220 13% 24%;

    --primary: 48 100% 50%;
    --primary-foreground: 220 13% 18%;

    --secondary: 348 100% 61%;
    --secondary-foreground: 220 13% 18%;

    --accent: 138 76% 50%;
    --accent-foreground: 220 13% 18%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 100% 98%;

    --ring: 210 36% 92%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}